# WANDB
WANDB_API_KEY=

# R2
# Create an API token in R2->API
#
# https://[ACCOUNT_ID].r2.cloudflarestorage.com
R2_ACCOUNT_ID=
# Access Key ID
R2_ACCESS_KEY_ID=
# Secret access key
R2_SECRET_ACCESS_KEY=
# Bucket name like cerberus-robotics
R2_BUCKET=

# R2 Cloudflare API Token
R2_TOKEN_VALUE=

